section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin-bottom: 5%; 
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  padding: auto;
  border: 25px solid rgb(153, 153, 255);
}
